body {
  display: block;
  margin-left: auto;
  margin-right: 450px;
  width: 50%;
  background-color: #141400;
}

h1,h3,p {
  color: white;
  text-align: center;
}

button {
  background-color: yellow !important;
  font-size: 170%;
  font-family: fantasy;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 45%
}
