<!doctype html>
<html>
  <head>
    <title>Attention Generator</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <h1>Thank you for requesting attention of one, Vipul Gupta.</h1>
    <br>
    <p>While, he could be a dick to be busy at times and not giving you or anybody their proper share of attention. A good ol' request is being processed."</p>
    <br>
    <h3>Your request number is #{{ random_code }}. </h3>
  </body>
</html>
